@import 'fonts';
@import 'reset';
@import 'libs';
@import 'vars';
@import 'global';

.header {

  &__container {
    padding-top: 155px;
  }

  @media (max-width: $lg) {

    &__container {
      padding-top: 110px;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  max-width: 1200px;
  width: 100%;
  z-index: 999;
  top: 0;
  left: calc(50vw - 600px);
  right: calc(50vw - 600px);
  margin: 0 auto;
  padding: 0 10px;

  &::after {
    content: '';
    position: fixed;
    background-color: transparent;
    width: 100vw;
    height: 110px;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: background-color 0.5s;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    width: 100%;
  }

  &__nav-logo-svg {
    fill: #000000;
    transition: fill 0.5s, opacity 0.5s;
  }

  &__nav-link {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    border-radius: 6px;
    transition: outline 0.5s, color 0.5s, text-shadow 0.5s;

    &:focus {
      outline: 2px solid #2a9d8f;
    }

    &:hover {
      color: #2a9d8f;

      .menu__nav-logo-svg {
        fill: #2a9d8f;
      }
    }

    &:active {
      text-shadow: 1px 1px 1px #2a9d8f;
      outline: transparent;

      .menu__nav-logo-svg {
        opacity: 0.5;
      }
    }
  }

  &__nav-button {
    display: none;

    svg {
      transition: fill 0.5s;
    }
  }

  &.scroll {

    &::after {
      background-color: rgba(85, 172, 238, 0.9);
    }

    & .menu__nav-list {
      padding: 10px 0;
    }

    & .menu__nav-link {
      color: $white;
      transition: outline 0.5s, color 0.5s, text-shadow 0.5s, opacity 0.5s;

      &:focus {
        outline: 2px solid #ffffff;
      }

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.5;
      }
    }

    & .menu__nav-logo-svg {
      fill: #ffffff;
    }

    & .menu__nav-button {
      svg {
        fill: $white;
      }

      &:focus {
        outline: 2px solid #ffffff;
      }

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }


  .mobile-menu {
    display: none;
  }
}

@media (max-width: $lg) {
  .menu {

    &__nav-list {
      padding: 9px 0 9px;
    }

    &__nav-item {
      display: none;

      &--logo {
        display: inline-block;
      }
    }

    &__nav-logo-svg {
      width: 119px;
      height: 89px;
    }

    &__nav-button {
      display: flex;
      padding: 3px;
      border-radius: 6px;
      transition: outline 0.5s, opacity 0.5s;

      &:focus {
        outline: 2px solid #2a9d8f;
      }

      &:hover {
        svg {
          fill: #2a9d8f;
        }
      }

      &:active {
        opacity: 0.5;
      }
    }

    .mobile-menu {

      display: block;
      padding: 35px 70px 60px;
      position: absolute;
      top: 110px;
      left: 0;
      right: 0;
      background-color: $white;
      box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
      transform: translateY(-500%);
      transition: transform 0.6s;
      z-index: 99;

      &__list {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 25px;
      }

      &__link {
        display: block;
        padding: 17px 0;
        border-radius: 6px;
        transition: outline 0.5s, color 0.5s, text-shadow 0.5s, opacity 0.5s;

        &:focus {
          outline: 2px solid #2a9d8f;
        }

        &:hover {
          color: #2a9d8f;
        }

        &:active {
          text-shadow: 1px 1px 1px #2a9d8f;
          outline: transparent;
        }
      }

      &.active {
        transform: translateY(0%);
      }

      &__social {
        display: flex;
        align-items: center;
      }
    }
  }

  .social-list {

    &__item {
      margin-right: 25px;
    }

    &__svg {
      fill: $text;
      transition: fill 0.5s;
    }

    &__link {
      border-radius: 6px;
      padding: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: outline 0.5s, opacity 0.5s;

      &:focus {
        outline: 3px solid #2a9d8f;
      }

      &:hover {
        svg {
          fill: #2a9d8f;
        }
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 350px) {
  .menu {

    &::after {
      height: 65px;
    }

    &__nav-logo-svg {
      width: 80px;
      height: auto;
    }

    .mobile-menu {
      top: 65px;
      padding: 35px 30px 60px;
    }
  }
}

@media (max-height: 600px) and (orientation: landscape) {
  .menu {

    &::after {
      height: 65px;
    }

    &__nav-logo-svg {
      width: 80px;
      height: auto;
    }

    .mobile-menu {
      display: flex;
      justify-content: space-between;
      top: 65px;
      padding: 35px 30px 60px;

    }

    .social-list {
      display: block;

      &__item {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

  }
}

.hero {

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -4px;
    margin-top: -1px;
  }

  &__information {
    margin-right: 20px;
  }

  &__subtitle {
    color: #000000;
    font-size: 48px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 443px;
    width: 100%;
    margin-bottom: 80px;

    span {
      color: #2A9D8F;
    }
  }

  &__links {
    margin-bottom: 100px;
  }

  &__link {
    font-weight: 400;
    font-size: 20px;
    transition: outline 0.5s, background-color 0.5s, color 0.5s, opacity 0.5s, box-shadow 0.5s;

    &:not(:last-child) {
      margin-right: 96px;
    }

    &--btn {
      padding: 13px 38px;
      color: $white;
      background-color: #E76F51;
      border-radius: 10px;
      box-shadow: 5px 5px 15px #F4A261;


      &:focus {
        outline: 3px solid $white;
      }

      &:hover {
        background-color: $white;
        color: #e76f51;
        outline: 3px solid #e76f51;
      }

      &:active {
        opacity: 0.6;
        box-shadow: none;
      }
    }

    &--link {
      display: inline-block;
      border-radius: 6px;

      &:focus {
        outline: 2px solid #2a9d8f;
      }

      &:hover {
        color: #2a9d8f;

        svg {
          fill: #2a9d8f;
        }
      }

      &:active {
        opacity: 0.6;

        svg {
          opacity: 0.6;
        }
      }
    }
  }

  &__link-svg {
    display: none;
    transition: opacity 0.5s, fill 0.5s;
  }

  &__promises-list {
    display: flex;
    justify-content: space-between;
  }

  &__promises-item {
    position: relative;
    font-weight: 400;
    padding: 65px 60px 0 60px;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      width: 0.5px;
      height: 85px;
      background-color: #000000;
      top: 0;
      left: 177px;
    }
  }

  &__promises-svg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__presentation-photos {
    display: flex;
    max-width: 600px;
    width: 100%;
  }

  &__image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__slick-prev,
  &__slick-next {
    position: absolute;
    background-color: $white;
    bottom: 4px;
    width: 140px;
    height: 106px;
    z-index: 33;
    outline-offset: -2px;

    &:focus {
      outline: transparent;
    }

    &:hover {

      svg {
        opacity: 0.5;
      }
    }

    &:active {

      svg {
        fill: #2a9d8f;
      }
    }

    &.active {
      svg {
        fill: #2a9d8f;
      }
    }
  }

  &__slick-prev {
    border-radius: 2px 0 0 0;
    right: 138px;
  }

  &__slick-next {
    right: -1px;
  }

  @media (max-width: 1350px) {
    .hero {

      &__presentation-photos {
        max-width: 500px;
      }
    }
  }

  @media (max-width: 1250px) {
    .hero {

      &__presentation-photos {
        max-width: 450px;
      }
    }
  }

  @media (max-width: $xl) {
    .hero {

      &__content {
        justify-content: space-evenly;
      }

      &__presentation-photos {
        max-width: 342px;
      }

      &__slick-prev,
      &__slick-next {
        width: 80px;
        height: 60px;
      }

      &__slick-prev {
        border-radius: 6px 0 0 0;
        right: 78px;
      }

      &__slick-next {
        border-radius: 0;
      }
    }
  }

  @media (max-width: $lg) {
    .hero {

      &__content {
        padding-top: 52px;
        padding-bottom: 32px;
      }

      &__information {
        margin-right: 0;
        margin-bottom: 37px;
      }

      &__subtitle {
        margin-bottom: 52px;
      }

      &__link {

        &:not(:last-child) {
          margin-right: 23px;
        }

        &--btn {
          padding: 13px 37px;
        }
      }

      &__link-svg {
        display: inline-block;
        vertical-align: top;
      }

      &__promises-list {
        justify-content: center;
      }

      &__promises-item {
        padding: 65px 30px 0 30px;

        &:not(:last-child)::after {
          left: 120px;
        }
      }

    }
  }

  @media (max-width: $md) {
    .hero {

      &__content {
        flex-direction: column;
      }

      &__slick-prev,
      &__slick-next {
        width: 62px;
        height: 45px;
      }

      &__slick-prev {
        right: 60px;
      }
    }
  }

  @media (max-width: $sm) {
    .hero {

      &__promises-item {
        padding: 65px 25px 0 25px;

        &:not(:last-child)::after {
          left: 110px;
        }
      }

      &__links {
        margin-bottom: 70px;
      }
    }
  }

  @media (max-width: 350px) {
    .hero {


      &__subtitle {
        max-width: 300px;
        font-size: 32px;
      }

      &__link {
        font-size: 14px;
      }

      &__link-svg {
        vertical-align: middle;
      }

      &__promises-item {
        padding: 55px 15px 0 15px;

        &:not(:last-child)::after {
          left: 85px;
        }
      }
    }
  }
}

.special-offer {
  &__container {
    padding-top: 55px;
    padding-bottom: 90px;
    background-color: #EFEFEF;
  }

  &__title {
    text-align: center;
    margin-bottom: 28px;
  }

  &__subtitle {
    display: block;
  }

  &__top-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 87px;

    .special-offer__item {
      margin-right: 30px;
    }
  }

  &__category {
    position: relative;
    margin-bottom: 52px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.5px;
      background-color: $text;
      bottom: -23px;
      left: 0;
    }
  }

  &__name {
    position: relative;
    color: #000000;
    font-size: 42px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 394px;
    width: 100%;
    margin-bottom: 50px;

    &::after {
      content: '';
      position: absolute;
      width: 80%;
      height: 0.5px;
      background-color: $text;
      bottom: -20px;
      left: 0;
    }
  }

  &__description {
    max-width: 372px;
    width: 100%;
    margin-bottom: 25px;
  }

  &__price {
    display: block;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  &__link {
    display: inline-block;
    padding: 8px 42px;
    font-size: 20px;
    font-weight: 400;
    color: $white;
    background-color: #2A9D8F;
    border-radius: 15px;
    transition: outline 0.5s, background-color 0.5s, color 0.5s, opacity 0.5s, box-shadow 0.5s;

    &:focus {
      outline: 3px solid $white;
    }

    &:hover {
      background-color: $white;
      color: #2a9d8f;
      outline: 3px solid #2a9d8f;
    }

    &:active {
      opacity: 0.6;
      box-shadow: none;
    }
  }

  &__bottom-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .special-offer__img {
      margin-right: 30px;
    }
  }

  &__img {
    object-fit: cover;
  }

  @media (max-width: $lg) {
    .special-offer {

      &__title {
        margin-bottom: 61px;
      }

      &__category {
        margin-bottom: 30px;

        &::after {
          bottom: -13px;
        }
      }

      &__name {
        max-width: 100%;
        margin-bottom: 50px;

        &::after {
          bottom: -15px;
        }
      }

      &__description {
        max-width: 100%;
      }

      &__price {
        display: inline-block;
        margin-right: 68px;
        margin-bottom: 0;
      }

      &__link {
        padding: 8px 35px;
      }

      &__img {
        width: 342px;
        height: 378px;
      }
    }
  }

  @media (max-width: $md) {
    .special-offer {
      &__top-content {
        display: block;
        margin-bottom: 58px;
      }

      &__item {
        margin-right: 0;
        margin-bottom: 32px;
      }

      &__img {
        margin: 0 auto;
      }

      &__bottom-content {
        flex-direction: column;

        .special-offer__img {
          margin-right: 0;
          margin: 0 auto;
          order: 3;
        }
      }
    }
  }

  @media (max-width: 350px) {
    .special-offer {
      &__img {
        width: 280px;
        height: 280px;
      }

      &__price {
        margin-right: 20px;
      }
    }
  }
}

.menu-list {
  &__container {
    padding-top: 30px;
    padding-bottom: 85px;
  }

  &__title {
    text-align: center;
    margin-bottom: 76px;
  }

  &__subtitle {
    display: block;
  }

  &__category {
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 15px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content:nth-child(-n+2) {
    margin-right: 40px;
  }

  &__item:not(:last-child) {
    position: relative;
    border-bottom: 1px dashed #000000;
    width: 345px;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 4px;
      height: 4px;
      background-color: #000000;
      bottom: -2px;
      left: 0;
      transform: rotate(45deg);
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 4px;
      height: 4px;
      background-color: #000000;
      bottom: -2px;
      right: 0;
      transform: rotate(45deg);
    }
  }

  .product-card {
    display: flex;
    align-items: center;
    max-width: 345px;
    width: 100%;
    min-height: 230px;
    padding: 65px 0 65px 0;

    &__image {
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }

    &__info {
      width: 226px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__name {
      font-weight: 500;
      font-size: 22px;
      margin-right: 10px;
    }

    &__description {
      display: block;
      font-size: 18px;
      font-weight: 300;
      margin-top: 7px;
    }

    &__price {
      display: flex;
      font-size: 20px;
      font-weight: 200;
    }
  }

  @media (max-width: 1350px) {
    .menu-list {

      &__category {
        margin-bottom: 25px;
      }

      &__inner {
        flex-wrap: wrap;
        justify-content: center;
      }

      &__content:nth-child(1) {
        margin-right: 120px;
        margin-bottom: 60px;
      }

      &__content:nth-child(2) {
        margin-right: 0;
        margin-bottom: 60px;
      }
    }
  }

  @media (max-width: $lg) {
    .menu-list {

      &__container {
        padding-left: 20px;
        padding-right: 20px;
      }

      &__title {
        margin-bottom: 30px;
      }

      &__category {
        margin-bottom: 33px;
      }

      &__inner {
        justify-content: space-evenly;
      }

      &__content:nth-child(1) {
        margin-right: 30px;
        margin-bottom: 30px;
      }

      &__content:nth-child(2) {
        margin-bottom: 30px;
      }
    }
  }

  @media (max-width: $md) {
    .menu-list {

      &__inner {
        flex-direction: column;
        align-items: center;
      }

      &__category {
        font-size: 30px;
      }
    }
  }

  @media (max-width: $sm) {

    .menu-list {

      &__category {
        text-align: left;
      }

      &__container {
        padding-bottom: 30px;
      }

      &__content {
        margin-bottom: 40px;
      }
    }

    .product-card {
      padding: 32px 0 32px 0;
      min-height: 75px;

      &__image {
        width: 75px;
        height: 75px;
      }
    }
  }

  @media (max-width: 390px) {

    .menu-list {
      &__item:not(:last-child) {
        width: 250px;
      }
    }

    .product-card {
      display: block;
      max-width: 310px;

      &__image {
        margin-bottom: 10px;
      }
    }
  }
}

.customer-review {
  &__container {
    padding-top: 35px;
    padding-bottom: 30px;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 18px;
  }

  &__title {
    display: block;
  }

  &__item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 566px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 36px;
    font-weight: 300;
    position: relative;
    min-height: 566px;
    max-width: 996px;
    width: 100%;
    margin: 0 auto;
    padding: 0 22px;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/quote-left.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 80px;
      height: 68px;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__author {
    padding-top: 60px;
    color: $white;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
  }

  &__slick-prev {
    position: absolute;
    bottom: 80px;
    left: 40%;
    width: 44px;
    height: 44px;
    z-index: 33;
    border-radius: 50%;
    outline-offset: -7px;
    transition: outline 0.5s, opacity 0.5s, background-color 0.5s;

    &::after {
      content: '';
      position: absolute;
      left: 10px;
      bottom: 10px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 3px solid $white;
    }

    &:focus {
      outline: 3px solid #2a9d8f;
    }

    &:hover {
      opacity: 0.7;
    }

    &.active {
      &::after {
        background-color: #ffffff;
      }
    }
  }

  &__slick-next {
    position: absolute;
    bottom: 80px;
    right: 40%;
    width: 44px;
    height: 44px;
    z-index: 33;
    border-radius: 50%;
    outline-offset: -7px;
    transition: outline 0.5s, opacity 0.5s, background-color 0.5s;

    &::after {
      content: '';
      position: absolute;
      left: 10px;
      bottom: 10px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 3px solid $white;
      background-color: #ffffff00;
    }

    &:focus {
      outline: 3px solid #2a9d8f;
    }

    &:hover {
      opacity: 0.7;
    }

    &.active {
      &::after {
        background-color: #ffffff;
      }
    }
  }

  @media (max-width: $lg) {
    .customer-review {
      &__text {
        font-size: 28px;
      }

      &__slick-prev {
        left: 38%;
      }

      &__slick-next {
        right: 38%;
      }
    }
  }

  @media (max-width: $md) {
    .customer-review {

      &__slick-prev::after,
      &__slick-next::after {
        width: 16px;
        height: 16px;
        left: 14px;
        bottom: 14px;
      }
    }
  }

  @media (max-width: $sm) {
    .customer-review {

      &__item {
        min-height: 427px;
        height: 427px;
      }

      &__text {
        min-height: 360px;
        padding-top: 100px;
        font-size: 18px;

        &::before {
          top: 45px;
        }
      }

      &__author {
        padding-top: 42px;
        font-size: 20px;
      }

      &__slick-prev {
        left: 33%;
      }

      &__slick-next {
        right: 33%;
      }

      &__slick-prev,
      &__slick-next {
        bottom: 40px;
      }
    }
  }
}

.experts {

  &__container {
    text-align: center;
    padding-bottom: 60px;
    padding-top: 85px;
  }

  &__title {
    display: block;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__item {
    position: relative;
  }

  &__image {
    object-fit: contain;
  }

  &__info {
    position: absolute;
    background-color: $white;
    padding: 12px 30px 0 30px;
    left: 40px;
    right: 40px;
    bottom: 20px;
    text-align: center;
  }

  &__name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    font-family: 'Libre Franklin', sans-serif;
  }

  &__position {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 5px;
  }

  &__link {
    display: inline-block;
    padding: 12px;
    border-radius: 3px;
    transition: outline 0.5s, opacity 0.5s;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:focus {
      outline: 3px solid #2a9d8f;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: $lg) {
    .experts {
      &__image {
        width: 340px;
        height: auto;
      }

      &__info {
        padding: 8px 30px;
      }

      &__name {
        margin-bottom: 7px;
      }

      &__position {
        margin-bottom: 8px;
      }
    }
  }

  @media (max-width: 350px) {
    .experts {
      &__image {
        width: 100%;
      }

      &__info {
        left: 10px;
        right: 10px;
      }
    }
  }
}

.reservation {

  &__container {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding-bottom: 205px;
    min-height: 940px;
    position: relative;
    max-width: 1440px;
    max-height: 940px;
    width: 100%;
    height: 100%;
  }

  &__window {
    position: absolute;
    top: 87px;
    left: 800px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 45px 40px 30px;
    ;
    width: 430px;
    height: 800px;
    border-radius: 6px;
    display: block;
  }

  &__subtitle {
    margin-bottom: 28px;
    line-height: 1;
  }

  &__title {
    display: block;
    color: $white;
  }

  &__form {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 0;
      visibility: hidden;
    }
  }

  &__form._sending::after {
    opacity: 1;
    visibility: visible;

  }

  &__input {
    padding: 8px 10px;
    width: 100%;
    border-radius: 6px;
    background-color: $white;
    margin-bottom: 35px;
    transition: outline 0.5s, color 0.5s;

    &._error {
      box-shadow: 0 0 15px red;
    }

    &::placeholder {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      font-size: 24px;
      line-height: 1;
      color: rgba(0, 0, 0, 0.4);
      transition: color 0.8s;
    }

    &:focus,
    &:active {
      outline: 3px solid #2a9d8f;
    }

    &:hover {
      &::placeholder {
        color: #2a9d8f;
      }
    }

    &--date {
      margin-right: 30px;
    }

    &--date,
    &--time {
      display: inline-block;
      max-width: 158px;
      width: 100%;
    }
  }

  &__textarea {
    padding: 8px 10px;
    border-radius: 6px;
    width: 100%;
    background-color: $white;
    margin-bottom: 20px;
    height: 144px;
    resize: none;
    transition: outline 0.5s, color 0.5s;

    &::placeholder {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      font-size: 24px;
      line-height: 1;
      color: rgba(0, 0, 0, 0.4);
      transition: color 0.5s;
    }

    &:focus {
      outline: 3px solid #2a9d8f;
    }

    &:hover {
      &::placeholder {
        color: #2a9d8f;
      }
    }
  }

  &__button {
    display: block;
    margin-left: auto;
    padding: 8px 42px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: #2a9d8f;
    border-radius: 10px;
    transition: outline 0.5s, background-color 0.5s, color 0.5s, opacity 0.5s;

    &:focus {
      outline: 3px solid #fff;
    }

    &:hover {
      background-color: #fff;
      color: #2a9d8f;
      outline: 3px solid #2a9d8f;
    }

    &:active {
      opacity: 0.8;
    }
  }

  @media(max-width: 1350px) {
    .reservation {
      &__window {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  @media(max-width: $xl) {
    .reservation {
      &__container {
        background-size: cover;
      }
    }
  }

  @media(max-width: $sm) {
    .reservation {

      &__window {
        padding: 32px 18px 28px;
        top: 236px;
        height: 705px;
        max-width: 390px;
        width: 100%;
      }

      &__input {
        padding: 5px 10px;
        margin-bottom: 28px;
      }
    }
  }

  @media (max-width: 390px) {
    .reservation {
      &__input {

        &--date,
        &--time {
          display: block;
          max-width: 100%;
        }
      }
    }
  }
}

.footer {
  &__container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  &__contacts {
    max-width: 385px;
    width: 100%;
  }

  &__logo {
    display: block;
    margin-bottom: 30px;

    svg {
      fill: $white;
    }
  }

  &__text {
    color: $white;
    margin-bottom: 45px;
  }

  &__social-list {
    display: flex;
    align-items: center;
  }

  &__information {
    color: $white;
    max-width: 218px;
    width: 100%;
  }

  &__subtitle {
    position: relative;
    margin-bottom: 32px;

    &::after {
      content: '';
      position: absolute;
      width: 155px;
      height: 1px;
      background-color: $white;
      left: 0;
      bottom: -11px;
    }
  }

  &__timetable-list {
    margin-bottom: 32px;
  }

  &__timetable-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__phone-link {
    display: flex;
    align-items: center;
    border-radius: 3px;
    transition: outline 0.5s, color 0.5s, opacity 0.5s;

    &:focus {
      outline: 3px solid #2a9d8f;
    }

    &:hover {
      color: #2a9d8f;

      svg {
        fill: #2a9d8f;
      }
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__phone-svg {
    margin-right: 20px;
    fill: $white;
    transition: fill 0.5s;
  }

  &__direction {
    max-width: 315px;
    width: 100%;
  }

  &__direction-link {
    color: $white;
    display: flex;
    border-radius: 3px;
    margin-bottom: 5px;
    transition: outline 0.5s, color 0.5s, opacity 0.5s;

    &:focus {
      outline: 3px solid #2a9d8f;
    }

    &:hover {
      color: #2a9d8f;

      svg {
        fill: #2a9d8f;
      }
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__direction-icon {
    fill: $white;
    transition: fill 0.5s;
    margin-right: 11px;
    margin-bottom: 15px;
  }

  iframe {
    border-radius: 6px;
  }

  .social-list {
    &__item {

      &:not(:last-child) {
        margin-right: 62px;
      }
    }

    &__link {
      display: block;
      border-radius: 3px;
      transition: outline 0.5s, opacity 0.5s;

      &:focus {
        outline: 3px solid #2a9d8f;
      }

      &:hover {
        svg {
          fill: #2a9d8f;
        }
      }

      &:active {
        opacity: 0.5;
      }
    }

    &__svg {
      fill: $white;
      transition: fill 0.5s;
    }
  }

  @media (max-width: 1300px) {
    .footer {

      &__container {
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      &__contacts {
        max-width: 305px;
      }

      &__information {
        max-width: 203px;
      }

      &__direction {
        max-width: 304px;
      }
    }

    .social-list {

      &__item {
        &:not(:last-child) {
          margin-right: 25px;
        }
      }

    }
  }

  @media (max-width: $md) {
    
      .social-list {
        &__svg {
          width: 40px;
          height: 40px;
        }
      }
    }
  

  @media (max-width: $sm) {
    .footer {
      &__container {
        justify-content: left;
      }
    }
  }

  @media (max-width: 350px) {
    iframe {
      width: 280px;
      height: 280px;
    }
  }
}